@font-face {
  font-family: 'Cormorant Garamond';
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-weight: bold;
  src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf');
}

@font-face {
  font-family: 'Mina';
  src: url('../fonts/Mina/Mina-Regular.ttf');
}

@font-face {
  font-family: 'Mina';
  font-weight: bold;
  src: url('../fonts/Mina/Mina-Bold.ttf');
}

a:hover{
  text-decoration: none;
  color: inherit;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
}
/* INCLUDE HEADER */
.header{
  height: 150px;
}

@media screen and (orientation: portrait){
  .banner{
    padding: 2px 5%;
    font-family: 'Mina', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 1.2em;
    background-image: url("../img/no-person-3091208-redim.jpg");
    background-size: cover;
    background-position: 0% 90%;
    max-width: 100%;
    height: 100%;
  }
}

@media screen and (orientation: landscape){
  .banner{
    padding: 2px 5%;
    font-family: 'Mina', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 1.2em;
    background-image: url("../img/no-person-3091208-redim.jpg");
    background-size: cover;
    background-position: 0% 81%;
    max-width: 100%;
    height: 100%;
  }
}

@media screen and (orientation: portrait){
  div h1{
    color: #e67e22;
    font-size: 45px;
    margin-top: 0.2em;
    margin-bottom: 0;
  }
}

@media screen and (orientation: landscape){
  div h1{
    color: #e67e22;
    font-size: 2.6em;
    padding-top: 0.1em;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.link{
  text-decoration: none;
  color: inherit;
  outline: none;
}

@media screen and (orientation: portrait){
  .soustitre{
    margin: 1em 0;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 1.2em;
    margin-top: 0.6em;
  }
}

@media screen and (orientation: landscape){
  .soustitre{
    margin: 0.9em 0;
    font-size: 0.9em;
    padding-left: 1.2em;
    font-weight: bold;
  }
}

@media screen and (orientation: portrait){
  .nav_barre{
  height: 4em;
  font-size: 1em;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #2c2c54;
  padding: 0.5em;
  }
}

@media screen and (orientation: landscape){
  .nav_barre{
  height: 3em;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: center;
  background-color: #2c2c54;
  margin-top: -0.1em;
  }
}
.link_nav_barre{
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}
.link_nav_barre:hover{
  font-weight: bold;
  color: white;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
/* INCLUDE CONNEXION.php */
.title_connexion{
  margin: 1em;
  font-size: 1.5em;
  color: red;
  font-family: 'Mina', Arial, sans-serif;
}
.form_connexion{
  margin: 0 3em 4em 3em;
}
.text_form{
  font-size: 1.2em;
  text-align: justify;
  margin-top: 1em;
}
.input_pseudo{
  margin-bottom: 1em;
  font-style: italic;
}
.input_pass{
  margin-bottom: 1em;
  font-style: italic;
}
.button_connexion{
  height: 2em;
  width: 8em;
  margin-top: 1em;
  color: #f1f2f6;
  background-color: #EA2027;
  border: none;
  border-radius: 10px;
}
.redir_create_account{
  margin: 1em 3em 5em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button_create_account{
  height: 2em;
  color: #f1f2f6;
  background-color: #EA2027;
  border: none;
  border-radius: 10px;
}
.button_create_account:hover{
  font-weight: bold;
}
/* PAGE php */
.corps{
  background-color: #aaa69d;
}

.bloc_texte{
  width: 90%;
  background-color: white;
  margin: auto;
  border: 0.05px solid white;
}

.narramus{
  margin: 0.5em;
  font-size: 1em;
  text-align: center;
  line-height: 1.9em;
}

.titre_narramus{
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.italic{
  font-style: italic;
}


/*@media screen and (orientation: portrait){*/
  .sommaire{
    margin: 1em;
    }
/*}*/

/*@media screen and (orientation: landscape){
  .sommaire{
    margin: 1em;
    display: flex;
  }
}*/

.titre_sommaire{
  margin-bottom: 0;
  padding: 0.6em 1.2em 0.6em 0.5em;
  text-align: left;
  text-indent: 0.6em;
  font-family: 'Mina', Arial, sans-serif;
}

.underline{
  text-decoration: underline;
}

.publication_traversee{
  text-decoration: none;
  color: black;
  width: 100%;
  text-align: justify;
  padding-bottom: 0.6em;
  font-style: italic;
  margin-bottom: 1em;
}

.publication_vian{
  text-decoration: none;
  color: black;
  width: 100%;
  text-align: justify;
  padding-bottom: 0.6em;
  font-style: italic;
}
.display_illustration{
display: flex;
flex-direction: column;
align-items: center;
}
.illustration_traversee{
  width: 60%;
}
.illustration_Vian{
  width: 50%;
}

.txt_publi{
  margin-top: 2em;
  margin-right: 3em;
}

.titre_intro{
  font-family: 'Mina', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.intro_publi{
  font-family: 'Cormorant Garamond', serif;
  font-size: 0.9em;
}

@media screen and (orientation:portrait){
  .sticky_footer{
    display: flex;
    flex-direction: column;
    background-color: #030216;
    color: white;
  }
}

@media screen and (orientation:landscape){
  .sticky_footer{
  display: flex;
  flex-direction: column;
  background-color: #030216;
  color: white;
  }
}

@media screen and (orientation:portrait){
  .link_bottom_nav{
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1em;
    letter-spacing: 0;
    color: white;
    padding: 0.5em 0 0 1.5em;
  }
}

@media screen and (orientation:landscape){
.link_bottom_nav{
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.1em;
  letter-spacing: 0;
  color: white;
  padding: 0.5em 0 0 2em;
  }
}
/* à_propos.html */

.presentation{
  text-align: justify;
  margin: 1.2em 1em 1.2em 1em;
}

.nom_prenom{
  font-weight: bold;
  font-family: 'Mina', Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
}

.Alexia{
  display: flex;
  font-size: 15px;
}

.Pierre{
  display: flex;
  font-size: 15px;
}
.Cyril{
  display: flex;
  font-size: 15px;
}
.credit_photo{
  text-align: center;
  padding: 1.5em;
  font-size: 0.7em;
}

/* contacts.html*/
.titre_contact{
  font-family: 'Mina', Arial, sans-serif;
  color: black;
  margin-top: 1em;
  font-size: 2em;
}
.couv_contact{
  height: 10em;
}
.formulaire{
  text-align: center;
}
.soustitre_contact{
  font-size: 1.2em;
}
.champ{
  margin: 1em;
  height: 2em;
  width: 13em;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1em;
  text-align: center;
  border: 1px solid black;
}
#message{
  margin: 1em;
  height: 12em;
  width: 15em;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1em;
  text-align: center;
  border: 1px solid black;
}
.button_contact{
  height: 1.5em;
  width: 5em;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.1em;
}
.titre_redir{
  font-family: 'Mina', Arial, sans-serif;
  color: black;
  margin-top: 5em;
  font-size: 2em;
  text-align: center;
}
.soustitre_redir{
  font-size: 1.5em;
  text-align: center;
}
/* réseaux.html */
.reseaux{
  font-size: 1em;
  text-indent: 2em;
  line-height: 1.7em;
}

/* billets.html*/
.empty{
  text-align: justify;
  padding: 1.2em 1em 1.9em 1em;
  font-size: 1.1em;
}


/*article*/
.article{
  text-align: justify;
  padding: 1.2em 1em 1.9em 1em;
  font-size: 1.1em;
}

.illustration_article_containeur{
  display: flex;
  justify-content: center;
}

@media screen and (orientation: portrait){
  .illustration_article_Vian{
    width: 95%;
    max-height: 230px;
  }
}


@media screen and (orientation:landscape){
  .illustration_article_Vian{
    width: 95%;
    max-height: 40 0px;
  }
}

.legende_illustration{
  text-align: justify;
  font-size: 10px;
  text-indent: 0px;
  margin: 0px;
  line-height: 10px;
}

.legende{
  text-decoration: underline;
  font-weight: bold;
}

.credit{
  text-decoration: underline;
  font-weight: bold;
}

.date_publi{
  text-indent: 0;
  font-size: 12px;
}

.titre_article{
  font-weight: bold;
  font-family: 'Mina', Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  padding-left: 10px;
}

article p{
  text-indent: 30px;
  line-height: 25px;
}

.titre_oeuvre{
  font-style: italic;
}

.lyrics{
  font-style: italic;
}

.video{
  display: flex;
  justify-content: center;
}

.signature{
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}


/* article traversée ennivrante*/
.galerie{
  padding: 1em 1em 1em 1em;
  font-size: 1em;
}

.accordion{
  width: 100%;
  height: 3em;
  text-align: left;
  font-family: 'Mina', Arial, sans-serif;
  font-size: 1em;
  border: none;
  outline: none;
  padding-left: 2em;
}

.accordion:after {
  content: "\002B";
  float: right;
  padding-right: 1em;
  border: none;
}

.active:after {
  content: "\2212";
  padding-right: 1em;
}

.active, .accordion:hover {
  background-color: #ccc;
  border: none;
}

.acte{
  display: grid;
  max-width: 100%;
  display: none;
}

.appeared {
  display: grid;
}

.img_acte{
  max-width: 100%;
}

.transcription{
  font-size: 1em;
  line-height: 1.5em;
  text-indent: 0;
  padding: 1em;
  margin: 0;
}

.intro{
  margin: 0;
  padding: 1em;
  font-size: 1em;
  text-indent: 2em;
  text-align: justify;
}

.date_publi_traversee{
  text-indent: 0;
  font-size: 0.9em;
  padding-left: 2em;
  padding-top: 2em;
  margin-top: 0;
}

.titre_article_traversee{
  font-weight: bold;
  font-family: 'Mina', Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.notes_bas_page{
  text-indent: 2em;
  text-align: justify;
  padding: 0 1em 0.5em 1em;
  font-size: 0.9em;
  line-height: 1.5em;
}

.link_in_page{
  color: inherit;
}

h4{
  text-indent: 1em;
  font-size: 1.2em;
}

.bibliographie{
  text-align: justify;
  font-size: 1em;
  padding: 0 1em 0.5em 1em;
  line-height: 2em;
}

/* CLASS GENERIQUES */
.bold{
  font-weight: bold;
}
