<!DOCTYPE html>
<html lang=fr>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Nous allons parler de sciences humaines et sociales, de livres et films, afin de partager un savoir qui permet à tous d'en connaître davantage sur des temps et des espaces qui ne sont pas les notres.">
  <meta name="keywords" content="partage, histoire, géographie, savoir, connaissances, littéraire, littérature, critiques, articles, sciences humaines, sciences sociales, sciences, société">
  <meta property="og:title" content="Narramus, le partage de la connaisance">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.narramus.fr/">
  <meta property="og:image" content="http://www.narramus.fr/img/no-person-3091208-redim.jpg">
  <title>Narramus - articles scientifiques et critiques : Le partage de connaissances</title>
  <link rel="stylesheet" href="../../css/bootstrap-4.0.0/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../css/narramus.css">
  <link rel="stylesheet" href="../../css/narramus_min_width-1200px.css" media="screen and (min-width: 1200px)">
  <link rel="shortcut icon" href="../../img/icon/iconmonstr-book-20.ico">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script type="text/javascript" src="/../../ckeditor/ckeditor.js"></script>
  <script type="text/javascript" src="/../../js/narramus.js">

  </script>
  <body>
  <div class="header">
    <a class="link" href="../../index.php">
      <div class="banner">
        <h1>Narramus</h1>
        <p class="soustitre">Le partage de connaissances</p>
      </div>
    </a>
  </div>
  <div class="nav_barre" id="myHeader">
    <div>
      <a class="link_nav_barre" href="../../index.php">Narramus</a>
    </div>
    <div>
      <a class="link_nav_barre" href="../../article.php">Article</a>
      <a class="link_nav_barre" href="../../billets.php">Billet d'humeur</a>
      <a class="link_nav_barre" href="../../critique_litt.php">Critique littéraire</a>
      <a class="link_nav_barre" href="../../critique_film.php">Critique ciné/série</a>
    </div>
    <div>
      <a class="link_nav_barre link_account" href="../connexion.php"><img class="icon_account" src="../../img/icon/icon_account-white.svg" alt="">{{ user }}</a>
    </div>
  </div>

{% block content %}{% endblock %}

<footer class="sticky_footer">
  <a class="link_bottom_nav" href="../../a_propos.php">À propos</a>
  <a class="link_bottom_nav" href="../../contact.php">Nous contacter</a>
  <a class="link_bottom_nav" href="../../reseaux.php">Nos réseaux</a>
  <a class="link_bottom_nav" href="#"></a>
</footer>
<script type="text/javascript" src="/../../js/narramus.js"></script>
</body>
</html>
