{% extends 'base.html.twig' %}
{% block content %}
<div class="corps">
  <div class="bloc_texte">
    <div class="narramus">
      <p class="titre_narramus">Narramus... Kezako?</p>
      <p>Narramus, première personne du pluriel du verbe latin <span class="italic">narrar</span>.</p>
      <p class="titre_narramus">Narramus... Pourquoi faire?</p>
      <p>Ici nous allons vous narrez des histoires. Attention, pas de stupides ballivernes poussent-aux-clics comme on en voit par centaines sur le web, mais bien des récits réflechis, que nous avons pris le temps de penser et de corriger et qui sont l'émanation de nos lectures et visionnages.</p>
      <p class="titre_narramus">Narramus... Qu'allons-nous vous raconter?</p>
      <p>De tout, mais jamais de rien. De sciences, oh pas de sciences &laquo; durs &raquo; (quoique ?), mais de sciences humaines (qui n'ont rien de molles!). Nous voulons vous parler de livres, de films, de séries, mais également de musiques et parfois d'actualités. Nous n'allons pas vous promettre que vous allez vous taper sur les cuisses à chaque lecture d'un de nos articles, mais dites-vous que nous avons pour objectif de vulgariser nos découvertes afin qu'elles puissent être accessibles à tous.</p>
    </div>
    <h2 class="titre_sommaire">Dernières publications :</h2>
    <div class="sommaire">
      <div class="container">
        <div class="row">
          <div class="">
            {% autoescape false %}{{ publi['date_writing'] }} {% endautoescape %}
            {% autoescape false %}{{ publi['title_publi'] }} {% endautoescape %}
            {% autoescape false %} {{ publi['corps_publi'] }} {% endautoescape %}
          </div>
          <div class="col-md-3">
            <a class="illustation display_illustration" href="/publications/articles/Traversee_enivrante.php"><img class="illustration_traversee" src="/img/90-000981.jpg" title="Extrait du tableau &laquo; Port de Dieppe &raquo; par Joseph Vernet (1714-1789) peint en 1765, huile sur toile, 2.63m*1.65m, Photo (C) RMN-Grand Palais / image RMN-GP, Côte Cliché : 90-000981, Numéro d'inventaire : 5OA13" alt="Extrait du tableau &laquo; Port de Dieppe &raquo; par Joseph Vernet (1714-1789) peint en 1765, huile sur toile, 2.63m*1.65m, Photo (C) RMN-Grand Palais / image RMN-GP"></a>
          </div>
          <div class="col-md-9">
            <a class="publication_traversee" href="/publications/articles/Traversee_enivrante.php"><p class="txt_publi"><span class="titre_intro">Une traversée enivrante, les dessous du commerce illicite</span><br /><span class="intro_publi">Dans cet article, je vais publier une source historique, la présenter et l'analyser. Il s'agit d'une minute notariale de Claude Gressier, notaire à Étaples entre 1716 et 1754, qui date du 27 janvier 1750. Claude Gressier est alors demandé par un fondé de procuration pour établir le procès verbal du déchargement d'une cargaison d'eau-de-vie en provenance directe de Cognac... <span class="underline">Lire la suite.</span></span></p></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <a class="illustation display_illustration" href="/publications/articles/Vian_chanteur_au_service_des_peuples.php"><img class="illustration_Vian" src="/img/Boris_Vian_-_WIKI.jpg" title="Une photo de Boris Vian provenant d'un Photomaton" alt="Une photo de Boris Vian provenant d'un Photomaton"></a>
          </div>
          <div class="col-md-9">
            <a class="publication_vian" href="/publications/articles/Vian_chanteur_au_service_des_peuples.php"><p class="txt_publi"><span class="titre_intro">Vian, chanteur au service des peuples</span><br /><span class="intro_publi">Le premier article de ce site est consacré à Boris Vian, un nom qui fait s’interroger, tout d’abord sur les origines du monsieur, mais également sur ce qu’il est. Qui est ce Boris Vian, un homme dont on a entendu parler de loin, si si en cherchant bien on a déjà entendu parler du bonhomme. Même si l’on ne se rappelle plus très bien du nom... <span class="underline">Lire la suite.</span></span></p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
