{% extends 'base.html.twig' %}
{% block content %}
<div class="corps">
  <div class="bloc_texte">
    <div class="presentation">
      <div class="reseaux">
        <p>Vous pouvez nous retrouver sur les réseaux sociaux à titre personnel car le site n'a pas encore de pages facebook/twitter qui lui sont dédiées.</p>
        <p>Sur facebook, vous pouvez consulter la page d'Alexia et Cyril consacrée à la lecture et qui se nomme tout justement &laquo; <a class="mail" href="https://www.facebook.com/enavantlalecture/">En avant la lecture !</a> &raquo;;. Vos deux contributeurs partagent alors des livres qu'ils ont lu et qui leur ont plu en présentant succintement l'oeuvre. Cette page est également l'occasion d'échanger entre passionnés, chacun proposant des ouvrages à décrouvrir ou redécouvrir.</p>
        <p>À bientôt sur les réseaux sociaux ! :)</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
