{% extends 'base.html.twig' %}
{% block content %}
<div class="corps">
  <div class="bloc_texte">
    <h2 class="titre_sommaire">Dernières publications :</h2>
    <article class="article">
      <div class="container">
        <div class="row">
          <div class="col-12">
            {% for publication in publications %}
            <div class="row">
              <div class="col-3 media">
                <img class="img-fluid align-self-center" src="{{ publication.img_vignette }}" alt="{{ publication.alt_vignette }}">
              </div>
              <div class="col-9">
                <div class="titre_intro">
                  {% autoescape false %} {{ publication.titre_publi }} {% endautoescape %}<br/>
                </div>
                <div class="intro_publi">
                  {% autoescape false %} {{ publication.corps_publi|replace({ '</p>': '.. <a href="">Lire la suite</a></p>'}) }} {% endautoescape %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
