{% extends 'base.html.twig' %}
{% block content %}
<div class="corps">
  <div class="bloc_texte">
    <h3>Rédiger une publication</h3>
    <form class="form_write" action="writing-post.php" method="post" enctype="multipart/form-data">
      <label for="select_type" class="title_writing_page">Choisir la catégorie de publication :</label>
      <select class="select_type_write" name="type_publi">
        <option value="0">Article</option>
        <option value="1">Billet d'humeur</option>
        <option value="2">Critique littéraire</option>
        <option value="3">Critique ciné/série</option>
      </select><br/>
      <label for="vignette">Vignette de la publication (max 1Mo)</label><br/>
      <input type="hidden" name="MAX_FILE_SIZE" value="1048576">
      <input type="file" name="img_vignette" value="vignette" required><br/>
      <label for="alt">Description de la vignette :</label><br/>
      <input type="text" name="alt_vignette" placeholder="Description de la vignette" required><br/>
      <label for="title_publi" class="sub_title_writing_page">Choisissez un titre : (max 255 caractères)</label><br/>
      <input class="write_title" type="text" name="titre_publi" placeholder="Titre de la publication" autofocus required><br/>
      <label for="corps_publi" class="sub_title_writing_page">Rédigez le corps de texte :</label><br/>
      <label>(Merci de limiter votre premier paragraphe à 300 caractères)</label>
      <textarea class="writing_area" id="corps_publi" name="corps_publi" required></textarea><br/>
      <input class="write_button" type="submit" name="button">
    </form>
  </div>
</div>
{% endblock %}
